.leader-box {
    margin: 10px 1px;
    background-color: #17151d;
    padding: 5px 20px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

span,
p {
    color: white;
}

.title {
    font-size: 15px;
    flex: 2;
    color: white;
}

.increase {
    font-size: 12px;
    flex: 1;
    color: green;
}

div.graph {
    font-size: 18px;
    flex: 4;
    color: white;
    text-align: center;
}

.image {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

div.price {
    font-size: 15px;
    flex: 1;
    color: white;
    text-align: right;
    font-weight: bold;
}

.leader-box:hover {
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.18);
}