@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
}

.App {
    background-color: #17151d;
    padding: 2em 1em;
    .body {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        min-height: 100%;
        column-gap: 20px;
    }
    nav.nav {
        ul {
            list-style-type: none;
            display: inline;
            padding: 0;
            li {
                color: white;
                max-height: 20px;
                border-radius: 5px;
                margin: 5px auto;
                cursor: pointer;
                background-color: #17151d;
            }
            span.togglemenu {
                visibility: hidden;
            }
            li:hover {
                background-color: #3f6eff;
            }
        }
    }
}

nav.nav {
    flex: 0;
    height: 100%;
    position: sticky;
    top: 1em;
    .container {
        position: relative;
        margin: 10px 0px;
        background-color: #241f2a;
        width: 50px;
        padding: 5px;
        height: 100%;
        transition: width 0.2s;
        border-radius: 10px;
    }
    .menu-text {
        visibility: hidden;
        font-size: 14px;
        margin-left: 10px;
        vertical-align: top;
        white-space: nowrap;
        position: absolute;
    }
    .increase {
        width: 200px;
        .menu-text {
            transition: visibility 0.01s;
            font-size: 14px;
            margin-left: 10px;
            vertical-align: top;
            visibility: visible;
        }
    }
    .toggle {
        background-color: #241f2a;
        width: 60px;
        height: 50px;
        text-align: center;
        line-height: 60px;
        border-radius: 8px;
        cursor: pointer;
    }
}

nav.nav {
    ul {
        list-style-type: none;
        display: inline;
        padding: 0;
        li {
            color: white;
            max-height: 20px;
            border-radius: 5px;
            margin: 5px auto;
            cursor: pointer;
            background-color: #17151d;
        }
        span.togglemenu {
            visibility: hidden;
        }
        li:hover {
            background-color: #3f6eff;
        }
    }
}

nav.mobile-nav {
    display: none;
    flex: 0;
    height: 100%;
    position: sticky;
    background-color: yellow;
    top: 1em;
    z-index: 99;
    .container {
        position: relative;
        margin: 10px 0px;
        background-color: #241f2a;
        width: 50px;
        padding: 5px;
        height: 100%;
        transition: width 0.2s;
        border-radius: 10px;
    }
    .menu-text {
        visibility: hidden;
        font-size: 14px;
        margin-left: 10px;
        vertical-align: top;
        white-space: nowrap;
        position: absolute;
    }
    .increase {
        width: 200px;
        .menu-text {
            transition: visibility 0.01s;
            font-size: 14px;
            margin-left: 10px;
            vertical-align: top;
            visibility: visible;
        }
    }
    .toggle {
        background-color: #241f2a;
        width: 60px;
        height: 50px;
        text-align: center;
        line-height: 60px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.main-content {
    flex: 10;
    justify-content: space-between;
    width: 99%;
    .search-box {
        width: 100%;
        border: none;
        height: 50px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #241f2a;
        padding: 9px;
        color: white;
        display: inline-block;
        box-shadow: 3px 3px 102px -2px rgba(11, 8, 8, 0.56);
        -webkit-box-shadow: 3px 3px 102px -2px rgba(11, 8, 8, 0.56);
        -moz-box-shadow: 3px 3px 102px -2px rgba(11, 8, 8, 0.56);
        input {
            height: 100%;
            border: none;
            background-color: transparent;
            width: 80%;
            outline-width: 0;
            display: inline-block;
            color: white;
            font-size: 14px;
        }
    }
    // 
    .market-leaders {
        background-color: #241f2a;
        margin-top: 10px;
        border-radius: 5px;
        padding: 8px 15px;
        h3 {
            color: white;
        }
    }
    .all-coins {
        background-color: #241f2a;
        margin-top: 10px;
        width: 100%;
        border-radius: 5px;
        padding: 8px 15px;
        box-sizing: border-box;
        h3 {
            color: white;
        }
    }
}

.right {
    flex: 3;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    .news-container {
        position: sticky;
        top: 1em;
        margin: 0px 5px;
        background-color: #241f2a;
        width: 90%;
        padding: 10px;
        max-height: 80%;
        transition: width 0.2s;
        border-radius: 10px;
        h3 {
            color: white;
        }
    }
}

@media screen and (max-width: 700px) {
    // .App {
    //     padding: 0px;
    // }
    nav.mobile-nav {
        display: block;
    }
    .App>.body {
        flex-direction: column;
    }
    .graph {
        display: none;
    }
    div.coin-container>.coin {
        width: 40%;
    }
    aside.right>.news-container {
        margin-top: 50px;
        width: 99%;
        box-sizing: border-box;
    }
    .main-content {
        width: 100%;
    }
    nav.nav {
        display: none;
    }
    .card-screen {
        display: none;
    }
}